@font-face {
  font-family: myFont;
  src: url(c254d37f98c38e79c518.ttf);
}

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'myFont', sans-serif;
  font-style: italic;
  background-color: rgb(61, 61, 61);
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.data {
  position: absolute;
  bottom: 126px;
  width: 100%;
}

#main {
  height: 1920px;
  width: 1080px;
  display: inline-block;
  position: relative;
  background-color: rgb(88, 88, 88);
}
img {
  max-height: 100%;
  display: block;
}
#image-wrapper {
  height: 1217px;
  position: relative;
}
#image-container {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto; /* change later to -180px */
  width: 100%;
  /* background-image: url('../public/icons/placeholder.webp'); */
  background-image: url('https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/7d477a3d-bbff-446a-8ba8-7938ea779f22/air-force-1-low-retro-shoes-qBBG9z.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0px; */
  /* background-position-y: -150px; */
}

button {
  display: block;
  height: 200px;
  width: 200px;
  font-size: 4rem;
}

#title {
  color: #929396;
  font-size: 103px;
  /* position: absolute;
  bottom: 700px; */
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  /* position: absolute;
  bottom: 126px; */
  color: white;
  padding: 0 153px 0 153px;
}

.red {
  background-color: #fa1238;
  height: 234px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blue {
  background-color: #1683ef;
  height: 204px;
}
.black {
  background-color: black;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sale-price {
  font-size: 167px;
  line-height: 167px;

  /* line-height: 54px; */
}
#full-price {
  /* line-height: 80px; */
  font-size: 54px;
  line-height: 54px;

  color: rgba(255, 255, 255, 0.66);
}
.hint {
  font-size: 34px;
}
#sizes {
  font-size: 80px;
}
.code {
  font-size: 80px;
  display: none;
}

.purple {
  background-color: #8c52ff;
  height: 80px;
  width: 100%;
  line-height: 80px;
  display: none;
}
.comment {
  font-size: 43px;
}

