/* normalize css starts here */
@font-face {
  font-family: myFont;
  src: url(c254d37f98c38e79c518.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: white;
}

body {
  width: 450px;
  height: 600px;
  text-align: center;
}

section {
  height: 85%;
  padding: 5px;
  overflow: hidden;
}

nav {
  padding: 0px !important;
}

nav a {
  padding: 10px;
  background-color: rgb(201, 230, 255);
  border: 1px solid rgba(133, 133, 133, 0.189);
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
}

.active {
  font-weight: 600;
  background-color: rgb(158, 178, 195);
}

h1.title {
  padding-left: 10px;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
  color: rgb(214, 122, 2);
}

.subtitle {
  font-size: 12px;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}

.counter-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.counter {
  font-size: 36px;
  font-weight: 700;
}

.button-container {
  margin-top: 15px;
}

.button {
  border: 0;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: bisque;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  transform: scale(1.1);
}

.divider {
  margin: 30px auto 25px;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}
form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

textarea {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
textarea:focus {
  outline: 2px solid rgba(0, 0, 0, 0.554);
}

#image-container {
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 230px;
}

#image-container img {
  height: 50%;
  border: 1px solid gold;
}

#message {
  font-weight: 600;
  padding: 4px;
  color: red;
  display: none;
}

small {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

label {
  font-size: 14px;
}

.code-preview {
  width: calc(774px / 3);
  height: calc(114px / 3);
  color: rgb(0, 0, 0);
  background: #00000070;
  font-size: calc(80px / 3);
  margin: 0 auto;
  font-family: 'myFont';
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

